## 1. load in data

In [1]:
import pandas as pd
data = pd.read_csv(r'E:\WEMUST\Opensourcetools\final\counts_final.csv')
data.head()

,Year,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Vietnam,Wallis and Futuna,West Bank and Gaza Strip,West Germany (FRG),Western Sahara,Yemen,Yugoslavia,Zaire,Zambia,Zimbabwe
0,1970,0,0,0,0,0,0,21,0,1,...,0,0,0,20,0,0,0,0,0,0
1,1971,0,0,0,0,0,0,7,0,1,...,0,0,0,13,0,0,0,0,1,0
2,1972,0,0,1,0,0,0,20,0,8,...,0,0,1,24,0,0,0,3,0,0
3,1973,1,0,0,0,0,0,60,0,0,...,0,0,0,27,0,0,1,1,1,0
4,1974,0,0,0,1,0,0,71,0,1,...,0,0,0,28,0,0,1,0,0,0

## 2. Generate two-dimensional lists in order of Country names

In [2]:
countryname=data.columns[1:]
print(countryname)
flow=[]
sj=list(data['Year'])
#print(sj)
for i in range(len(sj)):
    flow.append([])
    for j in range(len(countryname)):
        flow[i].append(int(list(data[countryname[j]])[i]))
#print(flow)

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Vietnam', 'Wallis and Futuna', 'West Bank and Gaza Strip',
       'West Germany (FRG)', 'Western Sahara', 'Yemen', 'Yugoslavia', 'Zaire',
       'Zambia', 'Zimbabwe'],
      dtype='object', length=204)

## 3. Generate Heatmaps by year

In [3]:
from pyecharts import options as opts
from pyecharts.charts import Map, Timeline
from pyecharts.faker import Faker

In [4]:
#set timeline and playback mode ( is_auto_play = False means play manually, if play automatically, the time interval is 500 ms,)
timeline = Timeline(init_opts=opts.InitOpts(width='1400px', height='600px')) 
timeline.add_schema(is_auto_play=False, play_interval=500) 

#support chain calls, here use traditional way
for m in range(len(sj)):
    c=(Map(init_opts=opts.InitOpts(width="1400px",height='600px',bg_color="white"))) #initialize figure size  
    c.add("", [list(z) for z in zip(countryname, flow[m])], "world",is_map_symbol_show=False) #generate map
    c.set_series_opts(label_opts=opts.LabelOpts(is_show=False), # label "do not show country's name"
                      tooltip_opts=opts.TooltipOpts(is_show=True,formatter='{b} : {c}'))  #set tip tool format, {b} stands for country name, {c} stands for its vallue
    c.set_global_opts(title_opts=opts.TitleOpts(title="The Number of terrorist attacks in {}".format(sj[m])),   # set title, change with time
        visualmap_opts=opts.VisualMapOpts(max_=500)) #set the maximum number displayed in map
    timeline.add(chart=c,time_point=sj[m]) #add map in timeline

#output the heatmaps with timeline in html format
timeline.render("number_terrorism2.html")

'D:\\myjupyter\\opensource\\number_terrorism2.html'